.all{
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px 10px;
    
    
}
.header{
    border: 1px solid red;
    background-color: gold;
    width: 480px;
    height: 100px;
    padding: 10px;
    
}
.lift{
    border: 1px solid chocolate;
    background-color: seagreen;
    width: 100px;
    height: 380px;
    text-align: center;
}
.content{
    border: 1px solid chocolate;
    background-color: seagreen;
    width: 420px;
    height: 380px;
    text-align: center;
}

.clon{
    display: flex;
}