/*Viết code css trong file này*/
/*chon tất cả thẻ <h1> trong trang web*/
h1{
    color: red;
}
p{
    color:green
}

/*chọn thẻ nào mà có id="special-heading"*/
#special-heading{
    color: orange;
}
/*chọn thẻ nào mà có class="text-blue"*/
.text-blue{
    color: blue;
}
div{
    color: blueviolet;
}
.text-brown{
    color: brown ;
}
#my-div{
    color:pink
}
/*(0,0,0)*/
*{
    color:chartreuse
}
#test-text{
    
    font-size: 40px;
    /*cỡ chữ */

    font-style:italic; 
    /*kiểu chữ */

    text-decoration: line-through;
     /*trang tri cho chữ :| */

    font-family: 'Arial'; 
    /*family*/

    text-transform: uppercase; 
    /*biến đổi chữ */
}

/* những thuộc tính  - giá trị =>định dạng khối nội dung ( Box model)*/
#my-box{
    /*màu nền */
    background-color: chocolate;

    width:300px;

    height: 170px;

    border: 10px dashed green;

    border-radius: 10px;

    padding: 20px;

    box-sizing: border-box;
}