.my-div {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.flex-box {
    display: flex;
    width: 700px;
    height: 500px;
    border: 1px solid black;
    flex-direction: row;
    justify-content: flex-end;
}

.item-flex-box {
    width: 100px;
    height: 100px;
    border: 1px solid green;
    box-sizing: border-box;
    text-align: center;
    line-height: 100px;
}
.flex-column {
    display: flex;
    width: 80%;
    height: 500px;
    margin: 0px auto;
    border: 3px solid lightblue;
}
.header {
    background-color: brown;
}