.header {
    display: flex;
    padding: 10px;
    margin: 0px auto;
    width: 100%;
    height: 60px;
    background-color: greenyellow;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-sizing: border-box;
}

.logo {
    background-color: bisque;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-item:last-child {
    border-right: 1px solid black;
}

.menu-item {
    padding: 10px 15px;
    border: 1px solid black;
    border-right: none;
}

.cicrle-border {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
}

.menu-item-without-border {
    padding: 0px 15px;
}

.header-space-evenly {
    display: flex;
    padding: 10px;
    margin: 0px auto;
    width: 80%;
    height: 60px;
    background-color: greenyellow;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 30px;
    box-sizing: border-box;
}

.flex-column-border {
    display: flex;
    width: 80%;
    height: 500px;
    margin: 0px auto;
    border: 3px solid lightblue;
    padding: 10px 10px;
    flex-direction: column;
    align-items: stretch;
}

.flex-column {
    display: flex;
    width: 80%;
    margin: 0px auto;
    flex-direction: column;
}

.flex-row {
    height: 100%;
    display: flex;
    align-items: stretch;
}

.left-sidebar{
    display: flex;
    width: 20%;
    background-color: blueviolet;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.right-sidebar{
    display: flex;
    width: 20%;
    background-color: blueviolet;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    justify-content: center;
    align-items: center;
}

.flex-row-border {
    display: flex;
    width: 80%;
    height: 500px;
    margin: 0px auto;
    border: 3px solid lightblue;
    padding: 10px 10px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100%;
    margin-bottom: 10px;
}
.grid-column-5 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 10px;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-grid {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}

.grid-2x5 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-alarm {
    width: 20px;
    height: 20px;
    background-color: red; 
    border-radius: 50%; 
    color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}