body{
    margin: 0px;
}
.header{
   display: flex;
   justify-content: space-between;
   box-sizing: border-box;
   position: relative;
   top:5px;
   width: 100%;
   margin: auto;
   
}
.social{
    display: flex;
    left: 0px;
    
}
.di-di{
    display: flex;
    
}
.sociai{
    font-size: 15px; 
}
.socia{
    font-size: 25px;
}
#bot-1{
    padding: 5px;
}
.int{
    width: 300px;
    height: 20px;
    font-size: 5px;
}
.img-h{
    width: 20px;
    height: 20px;
}
.img-g{
    width: 10px;
    height: 10px;
    display: none;
}
.img-i{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.ming{
    position: relative;
    top: 0px;
    left: 20px;

}
@media (max-width: 720px), (min-width: 1024px){
    .di-di{
        display: none;
    }
    .img-g{
        display: inline-block;
    }
    .int{
        width: 150px;
        height: 15px;
        font-size: 5px;
    }
    .socia{
        font-size: 15px; 
    }
    .img-h{
        width: 15px;
        height: 15px;
    }
}
/*so2*/
.card-lisd{
    border-radius: 10px;
    display: flex;
    background-color: sandybrown;
    position: relative;
    box-sizing: border-box;
}
.me{
    background-color: gray;
    border-radius: 10px;
    width: 50%;
    padding: 10px 5px;

    
}
.con{
    padding: 5px 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.omy-ly{
    width: 100%;
    height: 80%;
    border-radius: 5px;
}
.bo{
    position: absolute;
    bottom: 0px;
}
.olyu-un{
    border-radius: 50%;
    width: 9%;
    height: 20%;
}
.olyu-um{
    border-radius: 50%;
    width: 22%;
    height: 15%;
}
.textm{
    font-size: 20px;
    
}
.mimo{
    font-size: 10px;
}
.mng{
    position: absolute;
    bottom: 0px;
}
.lag-lig{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    width: 92%;
    margin: auto;

}
.fi{
    height: 20px;
}


