body{
    margin: 0px;
}
.header{
    
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.fas.fa-bars.mu-nu{
    display: none;
}
.social{
    font-size: 35px;
}
.menu{
    align-items: center;
    display: flex;
}
.goi{
    font-size: 15px;
}
#icu{
    padding: 6px;
}
#co{
    padding: 10px;
    font-size: 35px;
}
.loo{
    width: 600px;
    height: 50px;
}
.oly{
    font-size: 40px;
    position: relative;
    top: 20px;
    left: 10px;
}
.border{
    background-color: coral;
    border-radius: 30px;
    width: 95%;
    height: 500px;
    position: relative;
    top: 40px;
    margin: auto;
    display: flex;

}
.border-2{
    width: 50%;
    border-radius: 30px;
    background-color: gray;
}
.img-1{
    width: 90%;
    height: 400px;
    padding: 20px;   
}
.icon-1, .icon-2{
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}
.border-3{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 10px;
}
#lan-1{
    border-radius: 50px;
    border: none;
    background-color: white;
    width: 30px;
    height: 30px;
    padding: 6px;
}.name{
    font-size: 80px;
}
.span{
    font-size: 40px;
}
.icon-1{
    display: flex;
    justify-content: space-evenly;
}
.boli{
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    width: 100%;
    padding: 10px;
    

}
@media (max-width: 360px), (min-width: 509px){
    .goi{
        display: none;
    }
    .loo{
        width: 100px;
        height: 20px;
    }
    .fas.fa-bars.mu-nu{
        font-size: 30px;
    }
    .social{
        font-size: 20px;
    }
    .oly{
        font-size: 20px;
    }
    #co{
        padding: 3px;
        font-size: 10px;
    }
    .border{
        background-color: coral;
        border-radius: 30px;
        width: 90%;
        height: 250px;
        position: relative;
        top: 40px;
        margin: auto;
        display: flex;
    
    }
    .border-2{
        width: 50%;
        border-radius: 30px;
        background-color: gray;
    }
    .img-1{
        width: 90%;
        height: 150px;
        position: relative;
        top: 0px;
        left: 0px;
    }
    .icon-1, .icon-2{
        font-size: 30px;
        display: flex;
        justify-content: space-around;
    }
    .border-3{
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       padding: 10px;
    }
    #lan-1{
        border-radius: 50px;
        border: none;
        background-color: white;
        width: 30px;
        height: 30px;
        padding: 6px;
    }.name{
        font-size: 30px;
    }
    .span{
        font-size: 40px;
    }
    .icon-1{
        display: flex;
        justify-content: space-evenly;
    }
    .boli{
        display: grid;
        grid-template-columns: auto;
        /* grid-row-gap: 10px; */
        grid-column-gap: 10px;
        width: 100%;
        /* padding: 10px; */
        
    
    }
    
    
}
